.campo-busca-menu-lateral {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fonte-Karla);
    font-size: var(--fonte-size-Normal);
    background-color: var(--cinza-claro);
    border-radius: 25px;
    padding: 0 15px;
    margin-bottom: 10px;
    height: 40px;
    /* width: 100%; */
    /* border-bottom: 1px solid var(--preto); */   
}

.campo-busca-menu-lateral input{
    outline: none;
    background-color: transparent;
    font-size: 0.90rem;
}

.campo-busca-menu-lateral input::placeholder {
    color: rgb(0, 0, 0);
}

.div-resultado-menu-lateral{
    width: auto;
    max-height: 500px;
    overflow-y: auto;
    background-color: var(--cinza-claro);
    border-radius: 5px;
    margin-bottom: 10px;
}

.li-resultado-busca-menu-lateral{
    padding: 6px 8px;
}

.p-resultado-ml{
    /* text-align: justify; */
    color: var(--preto);
    width: calc(100% - 64px);
}

.img-resultado-busca-ml {
    width: 56px;
    height: 29px;
    object-fit: cover;
}


@media (min-width: 768px) {
    .campo-busca-menu-lateral {
        width: 100;
    
    }

    .campo-busca-menu-lateral input::placeholder {
        color: rgb(0, 0, 0);
        /* opacity: 1; */
    }  
}

@media (min-width: 1024px) {
    .campo-busca-menu-lateral {
        display: none;
    }
    
}