.cabecalho {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    background-color: var(--preto);
    width: 100vw;
    height: 66px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.432);
    position: fixed;
    z-index: 5;
}

.logo {
    min-width: 79px;
}

.busca {
    display: flex;
}

.botoes {
    gap: 0.5rem;
    display: flex;
    align-items: center;
}

.botoes-item {
    padding: 10px;
    border-radius: 25px;
    font-family: var(--fonte-Karla);
    font-size: var(--fonte-size-Media);
    color: var(--laranja);
}

.botoes-item:hover {
    background-color: var(--cinza-hover);
    transition: 0.3s;
}

.btn-estilo {
    display: none;
}

#container-buscar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campo-busca {
    display: none;
    /* grid-template-columns: 20px 1fr; */
    /* grid-template-rows: 20px 1fr; */
    align-items: center;
    background-color: var(--cinza);
    border-radius: 25px;
    padding: 0 15px;
    height: 40px;
    width: 400px;
}

.campo-busca i {
    color: white;
    margin-right: 10px;
    font-size: 16px;
}

.campo-busca input {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    font-family: var(--fonte-Karla);
    width: 100%;
}

.campo-busca input::placeholder {
    color: white;
    opacity: 1;
}

#campo-resultado {
    position: absolute;
    top: 70px;
    left: 50%; 
    transform: translateX(-50%);
    background-color: rgb(0, 8, 235);
    width: 400px;
    border-radius: 5px;
    padding: 10px;
    display: none;
    z-index: 10;
    color: white;
    height: 80px;
}


@media (min-width: 768px) {
    .botoes-item{
        font-size: var(--fonte-size-Normal);
    }

    .btn-estilo {
        display: block;
    }

}

@media (min-width: 1024px) {
    .cabecalho {
        height: 86px;
    }

    .campo-busca {
        display: flex;
    }
    
}


