.cabecalho {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    background-color: var(--preto);
    width: 100vw;
    height: 66px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.432);
    position: fixed;
    z-index: 5;
}

.logo {
    min-width: 79px;
}

.busca {
    display: flex;
}

.botoes {
    gap: 0.5rem;
    display: flex;
    align-items: center;
}

.botoes-item {
    padding: 10px;
    border-radius: 25px;
    font-family: var(--fonte-Karla);
    font-size: var(--fonte-size-Media);
    color: var(--laranja);
}

.botoes-item:hover {
    background-color: var(--cinza-hover);
    transition: 0.3s;
}

.btn-estilo {
    display: none;
}

#container-buscar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campo-busca {
    display: none;
    align-items: center;
    background-color: var(--cinza);
    border-radius: 20px;
    padding: 0 15px;
    height: 40px;
    width: 400px;
}

.campo-busca i {
    color: white;
    margin-right: 10px;
    font-size: 16px;
}

.campo-busca input {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    font-family: var(--fonte-Karla);
    width: 100%;
}

.campo-busca input::placeholder {
    color: white;
    opacity: 1;
}

#campo-resultado {
    position: fixed;
    top: 62px;
    background-color: var(--cinza);
    width: 410px;
    border-radius: 0 0 5px 5px;
    padding: 0 10px 10px 10px;
    display: none;
    flex-direction: column;
    /* justify-content: center; */
    color: white;
    height: auto;
    min-height: 10px;
    max-height: 200px;
    overflow-y: auto;

}

#campo-resultado::-webkit-scrollbar {
    width: 6px;
}

#campo-resultado::-webkit-scrollbar-track {
    background: transparent;
}

#campo-resultado::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.133);
    border-radius: 10px;
}

#lista-resultado {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: auto; */
    max-height: 200px;
    background-color: var(--cinza);
    border-top: 1px solid rgb(30, 30, 30);
}

#res-escrito {
    width: 100%;
    list-style-type: none;
    font-family: var(--fonte-Karla);
    padding: 6px 0;
}

.li-card-busca{
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    font-family: var(--fonte-Karla);
    padding: 6px 0;

}

.li-card-busca:hover, #res-escrito:hover{
    background-color: gray;
    transition: 0.3s;
}

.img-card-busca{
    width: 20px;
    height: 17px;
}


@media (min-width: 768px) {
    .botoes-item{
        font-size: var(--fonte-size-Normal);
    }

    .btn-estilo {
        display: block;
    }

}

@media (min-width: 1024px) {
    .cabecalho {
        height: auto;
        min-height: 86px;
    }

    .campo-busca {
        display: flex;
    }
    
}


