#container-estilos{
    display: flex;
    flex-direction: column;
    margin: 100px ;
    width: 85%;
    max-width: 700px;
}

.container-estilos-main {
    position: relative;
    top: 66px;
    padding-top: 30px;
    justify-content: center;
    /* margin: 100px ; */
    margin: 0 auto;
    width: 85%;
    /* max-width: 700px; */
}

.section-estilo{
    display: flex;
    flex-wrap: wrap;
}

.titulo-section_sub{
    font-family: var(--fonte-Kanit);
    font-size: var(--fonte-size-Normal);
    font-weight: 500;
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #000;
    background-size: contain;
}

.container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.bnt-vermais-cards{
    margin: 0 auto 20px auto;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 10px;
    width: 100%;
    height: auto;
    padding-top: 10px;
    margin-bottom: 25px;
}

.card {
    max-width: 139px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 10px;
}

.img-card{
    width: 100%;
    height: 78px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.div{
    display: flex;
    width: 100%;
    align-items: center;
}

.titulo-card {
    font-family: var(--fonte-Kanit);
    font-size: var(--fonte-size-Media);
    font-weight: 400;
    width: 100px;
    margin-left: 5px;
}

.bnt-favoritar-card{
    width: 2rem;
    height: 2rem;
}
.bnt-favoritar-card:hover{
    background-color: var(--cinza-claro);
    color: rgb(0, 0, 0);
}

.opc-bnt-cardb{
    display: flex;
    justify-content: center;
    margin: 24px 0 24px 0;
}

.bnt-tutorial-card {
    padding: .2rem 1rem;
    font-size: var(--fonte-size-Media);

}

.btn-voltar-mais-cards{
    margin: 0px auto 20px auto;
    /* align-self: center;s */
}

@media (max-width: 356px) {
    .cards-list{
        gap: 10px;
    }

    .card {
        max-width: 130px;
    }  

    .img-card{
        height: 74px;
    }   
}

@media (min-width: 1024px) {

    #container-estilos {
        margin: 100px;
        width: 90%;
        max-width: 1000px;
    }

    .container-estilos-main {
        padding-top: 50px;
    }

    .cards-list {
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }

    .card {
        max-width: 173px;
        width: 100%;
        margin-top: 34px;
    }

    .img-card{
        height: 98px;
    } 

    .div{
        margin-top: 10px;
        height: 48px;
    }
    
    .titulo-card {
        font-size: var(--fonte-size-Normal);
        width: 130px;
        margin-left: 7px;
    }
}