.campo-busca-menu-lateral {
    display: flex;
    align-items: center;
    font-family: var(--fonte-Karla);
    font-size: var(--fonte-size-Normal);
    border-radius: 25px;
    padding: 0 15px;
    height: 40px;
    width: 400px;
    border-bottom: 1px solid var(--preto);
    
}

.campo-busca-menu-lateral input::placeholder {
    color: rgb(0, 0, 0);
    /* opacity: 1; */
}