#menu-estilo {
    display: block;
    position: fixed;
    top: 86px;
    overflow: hidden;
    z-index: 999;

}

{
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 86px;
    right: 0;
    width: 100%;
    max-width: 650px;
    z-index: 999;
    background-color: white;
    box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.432);
}

.btn-estilo:hover {
    #menu-estilo {
    display: block;
    }
}