#resultado-busca {
    display: none;
    position: fixed;
    top: 67px;
    left: 53.5%; 
    background-color: var(--cinza);
    width: 407px;
    border-radius: 5px;
    /* padding: 10px; */
    z-index: 10;
    overflow-y: auto;
    max-height: 300px;
}

#resultado-busca::-webkit-scrollbar{
  display: none;
}

.li-resultado-busca {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  font-family: var(--fonte-Kanit);
  font-size: var(--fonte-size-Normal);
  font-weight: 300;
  border-radius: 8px;
}

.li-resultado-busca:hover {
  background-color: #757474;
}

.img-resultado-busca {
  width: 56px;
  height: 29px;
  object-fit: cover;
  /* border-radius: 5px; */
}

.msg-erro-busca {
  text-decoration: underline;
}

