.container-sobre-nos {
    position: relative;
    top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 120%;
    background-image: url(../src/sobre-nos-fundo-MB.png);
    background-position: bottom right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.campo-texto-sobre-nos {
    /* position: relative; */
    /* top: 66px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 76%;
    max-width: 700px;
    gap: 32px;
    /* translate: 0 66px; */
    margin: 20px 0 20px 0;
    padding: 15px 15px 25px 15px;
    border-radius: 15px;
    /* height: 100%; */
    background-color: rgba(255, 255, 255, 0.39);
}

.titulo-sobre-nos{
    font-family: var(--fonte-Kanit);
    font-size: var(--fonte-size-Grande);
    font-weight: 500;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.paragrafo {
    font-family: var(--fonte-Kanit);
    font-size: var(--fonte-size-Normal);
    font-weight: 300;
    text-align: justify;
    line-height: 1.2rem;
    letter-spacing: 0.04rem;
}

@media (min-width: 768px) {
    .container-sobre-nos {
        background-image: url(../src/sobre-nos-fundo-DeskTop.png);
        background-position: center;
    }   
}

@media (min-width: 1024px) {
    .container-sobre-nos{
        top: 86px;
        height: 130%;
    }

    
    .campo-texto-sobre-nos {
        padding: 20px 20px 30px 20px;
        margin: 30px 0 60px 0;
    }

    .container-sobre-nos {
        background-position: top;
    }   
    
    .paragrafo {
        font-size: var(--fonte-size-Normal);
        font-weight: 300;
        text-align: justify;
        line-height: 1.2rem;
        letter-spacing: 0.04rem;
    }
    
}


